Package: mx-antix-libs
Version: 0.3.9.6mx15
Architecture: all
Bugs: mailto: maintainer@mepiscommunity.org
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Installed-Size: 59
Depends: antix-libs
Section: system
Priority: optional
Homepage: http://antix.mepis.org
Description: libs for running antiX/MX.
Original-Maintainer: anticapitalista <antiX@operamail.com>
